<% include partials/header %>
<h1>Create new Campground</h1>
<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" nmae="image" placeholder="image url">
    <button type="submit">Add</button>
</form>
<a href="/campgrounds">Go back</a>



<% include partials/footer %>